In [1]:
import sys
import os
sys.path.append(os.path.abspath('../scripts'))

In [2]:
from AB_Testing import generate_insurance_data, save_data_to_csv, ab_test, gender_analysis, Vatregistered_analysis

In [3]:
insurance_data = generate_insurance_data()

In [4]:
insurance_data

             LegalType  Gender IsVATRegistered  Claimed
0           Partneship  Female            True        0
1       Public company    Male           False        0
2    close Corporation  Female           False        0
3       Public company  Female           False        0
4       Public company    Male           False        1
..                 ...     ...             ...      ...
995    Sole proprieter  Female           False        0
996     Public company    Male            True        1
997         Individual    Male           False        0
998         Individual  Female            True        0
999     Public company    Male            True        0

[1000 rows x 4 columns]

In [5]:
save_data_to_csv(insurance_data)

In [6]:
chi2_stat, p_value, contingency_table = ab_test(insurance_data)
print("Chi-squared Statistic:", chi2_stat)
print("P-value (Provinces):", p_value)

Chi-squared Statistic: 2.98178679177552
P-value (Provinces): 0.70279392837552

In [7]:
contingency_table
print("Contingency Table (Provinces):\n", contingency_table)

Contingency Table (Provinces):
 Claimed              0   1
LegalType
Individual          99  82
Partneship         105  69
Private company    104  60
Public company     103  69
Sole proprieter     92  63
close Corporation   89  65

In [8]:
t_stat, Gender_p_value = gender_analysis(insurance_data)

In [10]:
print("T-statistic (Gender):", t_stat)
print("P-value (Gender):", Gender_p_value)

T-statistic (Gender): 14.033836594226598
P-value (Gender): 6.250766146995515e-41

In [11]:
t_stat, IsVATRegistered_p_value = Vatregistered_analysis(insurance_data)

In [12]:
print("T-statistic (IsVATRegistered):", t_stat)
print("P-value (IsVATRegistered):", IsVATRegistered_p_value)

T-statistic (IsVATRegistered): 0.4065276408920259
P-value (IsVATRegistered): 0.6844427413833245